---
layout: page
---

{% include custom-styles.html %}

<div id="page-category">
  <h1 class="dynamic-title">{{ page.title }}</h1>

  <ul class="list-group">
    {% for category in site.categories %}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{{ site.baseurl }}/categories/{{ category[0] | slugify: 'pretty' }}/">
          {{ category[0] }}
        </a>
        <span class="badge badge-primary badge-pill">{{ category[1].size }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
